* {
  font-family: "montserrat";
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
  overflow: hidden;
}
.background
{
  background-image: url(https://media.discordapp.net/attachments/597469178412400641/782382011045642300/Wallpaper-Gradient-Blue-Green-HD-4K-Minimal-9455.jpg?width=1204&height=677);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
}
.bar
{
  background-color: #2c2f33;
  height: 10vh;
  align-items: center;
  text-align: center;
}
.top-text
{
  color: white;
  position: relative;
  top: 25%;
  font-size: 35px;
}
.add-bar
{
  position: relative;
  top: 5%;
  left:37.5%;
  background-color: white;
  height: 100vh;
  width: 25%;
  border-radius: 10px;

}
.quizFields{
  position: relative;
  top: 5%;
  margin-right: 3%;
  color:black;
  padding: 10px 200px 10px 10px;
  border: 2px solid #34c0eb;
  border-radius: 10px;
  outline: none;
}
.editorCreateQuiz{
  transition: 0.3s all ease;
  top: 5%;
  color:black;
  padding:10px;
  border: 2px solid #34c0eb;
  background: white;
  border-radius: 10px;
  outline: none;
  z-index: 7;
}

.editorCreateQuiz:hover{
  color: white;
  background: #34c0eb;
}


.textboxtext{
  position: relative;
  top: 10%;
  font-size: 20px;
}
.generictext{
    color:#34c0eb;
    font-size: 25px;
    padding:20px;
    position: relative;

}

@media (max-width: 1200px) {
  .add-bar{
    left:10%;
    height: 50%;
    width: 80%;
  }
  .quizFields{
    padding: 10px 100px 10px 10px;
  }
}

