* {
  font-family: "montserrat";
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}
.thewholefuckingbackground{
  background: rgb(20,56,230);
  background: linear-gradient(200deg, rgba(209, 15, 15) 0%, rgba(247, 121, 121) 50%);
  height: 100vh;
  align-items: center;
}
.thefuckingotherdiv{
  position: relative;
  left:25%;
  top:25%;
  background-color: #2c2f33;
  height: 50%;
  width: 50%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}
.fuckingroundimage{
  position: relative;
  top: 10%;
  width: 150px;
}
.verylongvariablethatyouwontbeabletounderstandasingletimebecauselongvariableequalsicannotgetfired{
  font-size: 30px;
  position: relative;
  top: 20%;
  margin-bottom: 5%;
}
.linkcolor{
  color:#4fb0d6;
}

@media (max-width: 1200px) {
  .fuckingroundimage {
    width: 50px;
  }
  .verylongvariablethatyouwontbeabletounderstandasingletimebecauselongvariableequalsicannotgetfired {
    font-size: 15px;
  }
  .thefuckingotherdiv {
    height: 30%;
    width: 60%;
    left:20%;
  }
}
