.signupInput {
  color: black;
  font-size: 16px;
}

.signupError {
  color: black;
}
.signupPage {
  background-image: url(https://media.discordapp.net/attachments/695978446068908055/774321279884591144/fxlb9eda42a31.png?width=1204&height=677);
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
.signupBox {
  border-radius: 15px;
  background-color: #2c2f33;
  padding: 20px;
  text-align: center;
  margin: 5% auto 0;
  width: 400px;
}
.signupBox img {
  width: 120px;
}
.signupBox h1 {
  padding-top: 25px;
  padding-bottom: 10px;
}
.inputBox input {
  width: 90%;
  border-radius: 20px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}
.bottomSignup {
  padding-top: 25px;
}
.signupBtn {
  transition: 0.3s all ease;
  border: 2px solid black;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  background-color: skyblue;
  text-align: center;
  padding: 15px 45px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
.signupBtn:hover {
  color: #bbbbbb;
  transition: 0.6s all ease;
  background-color: rgb(79, 176, 214);
}
