@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "montserrat";
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  -webkit-user-drag: none;
  object-fit: cover;
}
body {
  overflow-x: hidden;
}
.banner-img {
  width: 100%;
  height: 600px;
  background-size: cover;
}
.banner-text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 10%;
}
.buttons {
  position: absolute;
  left: 40%;
  top: 40%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login {
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  background-color: skyblue;
  text-align: center;
  padding: 15px 45px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
.signup {
  cursor: pointer;
  white-space: nowrap;
  color: white;
  font-size: 20px;
  background-color: skyblue;
  text-align: center;
  padding: 15px 45px;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 20px;
}
.welcome-msg {
  font-size: 40px;
  position: relative;
  margin: 0 auto 0 auto;
  width: 50%;
}
.welcome-msg h3 {
  padding-top: 100px;
}
.welcome-msg p {
  padding-top: 50px;
  font-size: 25px;
}
section h2 {
  font-size: 35px;
}
.about {
  padding-top: 100px;
  padding-bottom: 50px;
}
.text-area {
  text-align: center;
  color: white;
  background-color: #2c2f33;
  height: 100%;
  margin: -7px;
}
.card {
  max-width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.card > div {
  padding: 2rem;
}
.card h2 {
  padding-bottom: 40px;
}
.card img {
  width: 300px;
}
.card:nth-child(even) img {
  order: 2;
}
@media (max-width: 1200px) {
  .card {
    display: block;
  }
}
footer {
  height: 200px;
  background-color: #2c2f33;
  padding: 20px;
  padding-top: 100px;
  margin: 0 auto 0 auto;
  text-align: center;
  align-items: center;
}
footer h3 {
  font-size: 25px;
}
footer p {
  padding-top: 20px;
  font-size: 20px;
}
